$shadow: -4px 4px 2px 0px rgba(0,0,0,0.5);
$black: #1a1b26;
$red: #f7768e;
$yellow: #e0af68;
$green: #9ece6a;
$blue: #7aa2f7;
$violet: #bb9af7;
$white: #c0caf5;
$gray1: #9aa5ce;
$gray2: #565f89;
$gray3: #414868;
$gray4: #24283b;
